[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mido = "*"
opencv-python = "*"
scipy = "*"
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.7"
